Title {
    content-align: center middle;
    text-opacity:80%;
    height: 3 ;
}

Button {
    align-horizontal: center;
    align-vertical: middle;
}

Input.-valid {
        border: tall $success 60%;
    }
Input.-valid:focus {
        border: tall $success;
    }
Input {
        margin: 1 1;
    }
Label {
        margin: 1 2;
    }
